/* - - - Ubuntu font - - - */

/* Normal */
@font-face{
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

/* Light */
@font-face{
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu/Ubuntu-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: "Ubuntu";
    font-weight: 300;
    font-size: 13pt;
    line-height: 1.3;
}

.coordinates{
    position: fixed;
    width: 20vmin;
    height: 4.4vmin;
    background-color: rgb(255,255,255);
    top: 0px;
    left: 0px;
    text-align: center;
    font-size: 1.5vmin;
    border-right: 0.1vmin solid rgb(100,100,100);
    border-bottom: 0.1vmin solid rgb(100,100,100);
    line-height: 2.2vmin;
}

.logo{
    width: 10vmin;
    height: 10vmin;
    position: fixed;
    right: 0;
    bottom: 0;
    background-image: url(../images/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.graph-container{
    position: relative;
}

.graph-container__wall{
    width: 100%;
    min-height: 300px;
    background-color: rgb(225,234,241);
    background-image: url(../images/no-image.jpg);
    background-size: 300px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
    border-bottom: 1px solid rgb(100, 100, 100);
}

#graph-container__wall__graph{
    display: none;
    position: relative;
    margin: auto;
    background-color: rgb(255,255,255);
    padding: 50px;
    cursor: crosshair;
}

.graph-container__scaling-buttons{
    position: fixed;
    right: 1vmin;
    top: 1vmin;
}

.graph-container__scaling-buttons input[type='number']{
    width: 50px;
}

.data__left-column{
    width: 300px;
    border-right: 1px solid rgb(100,100,100);
}

.data__left-column__section{
    padding: 20px;
    border-bottom: 1px solid rgb(100,100,100);
    background-color: rgb(255, 240, 240);
}

.data__left-column__section__title{
    padding-bottom: 10px;
}